body{
	background-color: #27374D;
	color: #9DB2BF;
}

h2{
	font-family: Helvetica;
	font-size: 50px;
	text-align:center;
	padding: 90px 320px 0px 320px;
}

#padding{
	padding: 0px 350px;
}

.box{
	border: 5px solid #526D82;
	padding:0px 30px;
	border-radius: 3px;
	text-align: justify;
	width: 100%;
	font-family: Verdana;
	box-sizing: border-box;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#approve{
	float:right;
}